<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>猜成语</title>
    <script src="https://cdn.staticfile.org/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="chengyu.js"></script>
    <style>

        :root {
            --background-color: #333642;
        }

        * {
            margin: 0;
            padding: 0;
        }

        #main {
            width: 100%;
            max-width: 414px;
            margin: 0 auto;
        }

        #playground {
            margin: auto;
            display: block;
            margin-bottom: 8%;
            background-color: #f5f5f5;
        }

        button {
            width: 160px;
            height: 40px;
            margin: 5px 10px;
            color: #ffffff;
            background-color: #336699;
            border: 2px #ffffff solid;
            border-radius: 5px;
        }

        button:hover {
            cursor: pointer;
        }

        .normal-pot {
            width: 80px;
            padding: 15px 5px 0;
            background: aliceblue;
            height: 80px;
        }

        .sd {
            display: inline-block;
            font-size: .75em;
            line-height: 1em;
            margin-top: -.25em
        }

        #result, #user {
            padding: 10px;
            min-height: 300px;
            max-width: 400px;
            margin: 20px auto;
        }

        .loss {
            color: lightgrey;
        }

        .ok {
            color: #1d9c9c
        }

        .mis {
            color: #de7525;
        }

        .win {
            color: white;
            background-color: #1d9c9c;
        }
    </style>
</head>
<body>
<div id="main">

    <div class="box-canvas" id="playground" :style="{height: globalHeight+'px'}">
        <div id="result">
            <div v-for="item in rstList">
                <div style="display: flex; justify-content: space-between ">
                    <div v-for="o in item" class="normal-pot">
                        <div style="text-align: center; display: flex; justify-content: center">
                            <div>
                                <span v-if="o[1].flag === 0" class="loss">{{o[1].ori}}</span>
                                <span v-if="o[1].flag === 1" class="ok">{{o[1].ori}}</span>
                                <span v-if="o[1].flag === 2" class="mis">{{o[1].ori}}</span>

                                <span v-if="o[2].flag === 0" class="loss">{{o[2].ori}}</span>
                                <span v-if="o[2].flag === 1" class="ok">{{o[2].ori}}</span>
                                <span v-if="o[2].flag === 2" class="mis">{{o[2].ori}}</span>
                            </div>
                            <span class="sd loss" v-if="o[3].flag === 0">{{o[3].ori}}</span>
                            <span class="sd ok" v-if="o[3].flag === 1">{{o[3].ori}}</span>
                            <span class="sd mis" v-if="o[3].flag === 2">{{o[3].ori}}</span>
                        </div>
                        <p style="font-size: 1.875rem;text-align: center; ">
                            <span v-if="o[0].flag === 0" class="loss">{{o[0].ori}} </span>
                            <span v-if="o[0].flag === 1" class="ok">{{o[0].ori}} </span>
                            <span v-if="o[0].flag === 2" class="mis">{{o[0].ori}} </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="user" style=" border-top:2px solid blue">
            <div v-if="end === 0">
                <div style="display: flex; justify-content: space-between ">
                    <div v-for="o in pre(inputWd)" class="normal-pot">
                        <div style="text-align: center; display: flex; justify-content: center">
                            <div>
                                <span>{{o[1]}}</span>
                                <span>{{o[2]}}</span>
                            </div>
                            <span class="sd">{{o[3]}}</span>
                        </div>
                        <p style="font-size: 1.875rem;text-align: center; ">
                            {{o[0]}}
                        </p>
                    </div>
                </div>
            </div>
            <div style="min-height: 200px;  margin: 20px auto" v-if="end === 0">
                <input v-model="inputWd" style="height: 35px; padding-left: 5px; width: 151px; margin: 5px 10px;">
                <button @click="submit">确认</button>
                <br>
                <button @click="giveup">放弃</button>
                <button @click="help">提示</button>
            </div>
            <div v-if="end >= 1" style="margin-top: 20px">
                <div style="display: flex; justify-content: space-between;  ">
                    <div v-for="o in wdx" class="normal-pot win">
                        <div style="text-align: center; display: flex; justify-content: center">
                            <div>
                                <span>{{o[1]}}</span>
                                <span>{{o[2]}}</span>
                            </div>
                            <span class="sd">{{o[3]}}</span>
                        </div>
                        <p style="font-size: 1.875rem;text-align: center; ">
                            {{o[0]}}
                        </p>
                    </div>
                </div>
                <button @click="restart">重开</button>
            </div>

        </div>
    </div>
    <div style="font-size: x-large; padding: 20px;   background-color: white">

        <div>
            <a href="/color_tube.html">color tube</a>
        </div>
        <div>
            <a href="/sanhei/index.html">sanhei</a>
        </div>
        <div>
            <a href="/wencai.html">wencai</a>
        </div>
        <div>
            <a href="/flight.html">flight</a>
        </div>
    </div>
</div>
</body>
<script>
  /// 状态// 0 未开始， 1游戏中， 2结束
  const PRE = 0;  //
  const PLAYING = 1;
  const END = 2;

  const navy = '#000033';
  const junlv = '#006633';
  const qianlv = '#00FF99';
  const qing = '#33FFFF';
  const zise = '#660099';
  const qiezi = '#6633CC';
  const kaqise = '#666633';
  const lan = '#6699FF';
  const suliao = '#66FFFF';
  const kafei = '#993300';
  const zaohongse = '#996666'
  const shuinihui = '#99CCCC';
  const hong = '#CC0033';
  const yinghuase = '#FF99CC';
  const qianhuang = '#FFFF66';
  const juhuang = '#FF6600';
  const colors = [hong, lan, kaqise, qing, qianhuang, qianlv, zise, yinghuase, shuinihui, junlv, kafei, juhuang, navy, qiezi, suliao, zaohongse];

  const HANDOUWD = 'handouword';
  const HANDOURST = 'handourst';
  const HANDOUHIS = 'handouhis';


  function deepcopy(tubes) {
    let arr = [];
    for (let i = 0; i < tubes.length; i++) {
      let tmp = [];
      for (let j = 0; j < tubes[i].length; j++) {
        tmp.push(tubes[i][j]);
      }
      arr.push(tmp);
    }
    return arr;
  }

  const MainHandling = Vue.createApp({
    data() {
      return {
        dict: chengyu,
        wds: wds,
        singleDict: singleDict,
        //
        globalHeight: 1080,
        wd: null,
        wdx: null,
        wdy: [],
        ///
        inputWd: '隔三差五',
        history: {},
        rstList: [],
        ///
        end: 0,

      }
    },
    methods: {
      pre(str) {
        let rst = [];
        for (let i = 0; i < 4; i++) {
          let x = str[i]
          if (singleDict[x]) {
            rst.push(singleDict[x])
            if (rst.length === 4) {
              break
            }
          }
        }
        while (rst.length < 4) {
          rst.push(['', '', '', ''])
        }
        return rst;
      },

      check(rst) {
        let check_rst = [
          [{ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0},],
          [{ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0},],
          [{ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0},],
          [{ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0}, {ori: '', flag: 0},],
        ]
        for (let i = 0; i < 4; i++) {
          let a = rst[i]
          let b = this.wdx[i];

          // 原始
          check_rst[i][0].ori = a[0];
          if (a[0] === b[0]) {
            check_rst[i][0].flag = 1; // 1 是相等, 2 是存在
          } else if (this.wdy.z.indexOf(a[0]) > -1) {
            check_rst[i][0].flag = 2; // 1 是相等, 2 是存在
          }
          // 声母
          check_rst[i][1].ori = a[1];
          if (a[1] === b[1]) {
            check_rst[i][1].flag = 1; // 1 是相等, 2 是存在
          } else if (this.wdy.sm.indexOf(a[1]) > -1) {
            check_rst[i][1].flag = 2; // 1 是相等, 2 是存在
          }
          // 韵母
          check_rst[i][2].ori = a[2];
          if (a[2] === b[2]) {
            check_rst[i][2].flag = 1; // 1 是相等, 2 是存在
          } else if (this.wdy.ym.indexOf(a[2]) > -1) {
            check_rst[i][2].flag = 2; // 1 是相等, 2 是存在
          }
          // 声母
          check_rst[i][3].ori = a[3];
          if (a[3] === b[3]) {
            check_rst[i][3].flag = 1; // 1 是相等, 2 是存在
          } else if (this.wdy.tone.indexOf(a[3]) > -1) {
            check_rst[i][3].flag = 2; // 1 是相等, 2 是存在
          }
        }
        return check_rst;
      },

      setWord(wd) {
        localStorage.setItem(HANDOUWD, wd);
        this.wd = wd;
        this.wdx = chengyu[wd];
        wdx = this.wdx;
        this.wdy = {'z': [], 'sm': [], 'ym': [], 'tone': []}
        for (let i = 0; i < 4; i++) {
          this.wdy.z.push(wdx[i][0])
          this.wdy.sm.push(wdx[i][1])
          this.wdy.ym.push(wdx[i][2])
          this.wdy.tone.push(wdx[i][3])
        }
      },

      init() {
        let wd = null;
        if (localStorage.getItem(HANDOUWD) !== null) {
          let _wd = localStorage.getItem(HANDOUWD);
          if (_wd.length === 4 && chengyu[_wd]) {
            wd = _wd;
          }
          let _s = localStorage.getItem(HANDOURST);
          let _his = localStorage.getItem(HANDOUHIS)
          try {
            if (_s) {
              this.rstList = JSON.parse(_s);
            }
            if (_his) {
              this.history = JSON.parse(_his);
            }
          } catch (e) {}
        }

        if (wd === null) {
          let index = parseInt((Math.random() * wds.length).toFixed(0))
          wd = wds[index];
        }
        this.setWord(wd)
        console.log(wds.length, wd, this.wdx);
      },
      help() {
        if (this.end === 0) {
          alert(this.wd[0])
        }
      },
      submit() {
        let ans = this.inputWd.trim();
        if (ans.length !== 4) {
          alert('长度不对!')
          return false;
        }
        if (this.history[ans]) {
          alert(ans + '已经使用过了!')
          return false;
        }
        let tmp = this.pre(this.inputWd);
        if (tmp[3] === '') {
          alert(ans + '可能不在库里!')
          return false;
        }
        this.history[ans] = true;
        this.inputWd = '';
        if (ans === this.wd) {
          alert('Win!')
          this.end = 2;
          localStorage.removeItem(HANDOUWD);
          localStorage.removeItem(HANDOURST);
          localStorage.removeItem(HANDOUHIS)
          return true;
        }
        this.rstList.push(this.check(tmp))
        localStorage.setItem(HANDOURST, JSON.stringify(this.rstList))
        localStorage.setItem(HANDOUHIS, JSON.stringify(this.history))
      },
      giveup() {
        if (!confirm('确认放弃? ')) {
          return false;
        }

        localStorage.removeItem(HANDOUWD);
        localStorage.removeItem(HANDOURST);
        localStorage.removeItem(HANDOUHIS)
        this.end = 1;
      },
      restart() {
        location.reload()
      }
    },
    created() {
      this.init();

    }
  });

  MainHandling.mount("#main");
</script>
</html>
