<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>文采飞扬</title>
    <script src="https://cdn.staticfile.org/vue/3.3.4/vue.global.prod.min.js"></script>
    <script src="chengyu.js"></script>
    <style>
        :root {
            --background-color: #333642;
        }

        * {
            margin: 0;
            padding: 0;
        }

        #main {
            width: 100%;
            min-width: 390px;
            max-width: 420px;
            margin: 20px auto;
            background-color: #333642;
        }

        #playground {
            margin: 8% auto;
            display: block;
            padding-top: 20px;
            background: var(--background-color);
        }

        button {
            width: 120px;
            height: 40px;
            margin: 5px 10px;
            color: #ffffff;
            background-color: #336699;
            border: 2px #ffffff solid;
            border-radius: 5px;
        }

        button:hover {
            cursor: pointer;
        }

        .pot {
            display: inline-block;
            width: 60px;
            height: 60px;
            font-size: 30px;
            text-align: center;
            line-height: 2.0;
            background-color: white;
            border: #000033 1px solid;
        }

        .cur .pot {
            width: 40px;
            height: 40px;
            font-size: 20px;
            vertical-align: top;
        }

    </style>
</head>
<body>
<div id="main">
    <div class="box-canvas" id="playground">
        <div style="width: 100%; min-width: 390px; text-align: center">
            <span style="padding-left: 20px; color:white">Click: {{clickIndex}} |
                <span v-if="selected >= 0" :style="{background: tubes[selected].slice(-1)[0]}"
                      style="height: 10px; width: 10px; display: inline-block"></span>
                <span v-else style="height: 10px; width: 10px; display: inline-block; background-color: white"></span>
            </span>
            <span style="padding-left: 20px; color:white">Step: {{cnt}}/{{ts.toFixed(1)}}s </span>
        </div>

        <div style="display: flex;flex-wrap: wrap; justify-content: center; margin-top: 20px; user-select: none">
            <div v-for="(row, rowIndex) in playground">
                <div v-for="(word, colIndex) in row" class="pot" @click="clickOne(rowIndex, colIndex)">
                    <span v-if="word.s === potnouse">{{word.w}}</span>
                    <span v-else style="color: #CCCCCC">{{word.w}}</span>
                </div>
            </div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-around; flex-wrap: wrap; padding: 10px 5px">
                <div class="cur">
                    <div style="color:dodgerblue">
                        <div v-for="o in cur" class="pot">{{o.w}}</div>
                        <div v-if="cur.length<4" class="pot"></div>
                        <div v-if="cur.length<3" class="pot"></div>
                        <div v-if="cur.length<2" class="pot"></div>
                        <div v-if="cur.length<1" class="pot"></div>
                    </div>
                </div>
                <div class="cur" v-for="index in range(rst.length-1, -1, -1)">
                    <a v-bind:href="'https://www.baidu.com/s?wd=' + join2(rst[index])" target="_blank">
                        <div v-for="o in rst[index]" class="pot">
                            {{o.w}}
                        </div>
                    </a>
                </div>

                <div class="cur" v-for="index in range(0, wordList.length - rst.length, 1)">
                    <div>
                        <div v-for="o in range(0, 4, 1)" class="pot"></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; justify-content: center">
            <button @click="clear()" v-if="gameStatus === 1">Clear</button>
            <button @click="back()" v-if="gameStatus === 1">Backspace</button>
        </div>
        <div style="display: flex; justify-content: center">
            <button @click="giveup()">New</button>
            <button @click="changeStrictMode" v-if="gameStatus === 0">
                <span v-if="strictMode===0">Easy</span>
                <span v-else>Strict</span>
            </button>
            <button @click="help()" v-if="gameStatus === 1 && this.cur.length===0">Help</button>
            <button v-if="gameStatus === 1 && this.cur.length>0" disabled style="background-color: #CCCCCC;">Help
            </button>

        </div>
    </div>

    <div style="font-size: x-large; padding: 20px;   background-color: white">
        <div>
            <a href="/color_tube.html">color tube</a>
        </div>

        <div>
            <a href="fake_handou.html">fake handou</a>
        </div>

        <div>
            <a href="sanhei/index7.html">sanhei</a>
        </div>
    </div>
</div>
</body>
<script>
  //// 0 未开始， 1游戏中， 2结束
  const PRE = 0;
  const PLAYING = 1;
  const END = 2;
  const SIZE = 6;  //
  ////
  const POTNOUSE = 0;
  const POTUSED = 1;
  const WCSM = 'WCSM';

  function deepcopy(obj) {
    let objClone = Array.isArray(obj) ? [] : {};
    if (obj && typeof obj === "object") {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) {
          //判断ojb子元素是否为对象，如果是，递归复制
          if (obj[key] && typeof obj[key] === "object") {
            objClone[key] = deepcopy(obj[key]);
          } else {
            //如果不是，简单复制
            objClone[key] = obj[key];
          }
        }
      }
    }
    return objClone;
  }

  if (SIZE * SIZE % 4 !== 0) {
    alert('size 设置错误')
  }

  const MainHandling = Vue.createApp({
    data() {
      return {
        //
        potnouse: POTNOUSE,
        potused: POTUSED,
        size: SIZE,
        ///
        wordList: [],
        mapping: {},

        playground: [],
        cur: [],
        rst: [],
        //
        gameStatus: 0,  // 0 未开始， 1游戏中， 2结束
        //
        cnt: 0, // 记录总步数
        ts: 0, // 记录时间
        _tsInter: null,
        ///
        strictMode: 0,
      }
    },
    methods: {
      join2(arr) {
        return arr[0].w + arr[1].w + arr[2].w + arr[3].w

      },
      changeStrictMode() {
        this.strictMode = 1 - this.strictMode;
        localStorage.setItem(WCSM, this.strictMode)
      },
      startTimer() {
        if (this._tsInter === null) {
          let v = this;
          this._tsInter = setInterval(_ => {
            v.ts += .1
          }, 100)
        }
      },
      stopTimer() {
        if (this._tsInter) {
          clearInterval(this._tsInter);
          this._tsInter = null;
        }
      },
      shuffle(arr) {
        this.playground = [];
        for (let i = 0; i < SIZE; i++) {
          this.playground.push([])
          for (let j = 0; j < SIZE; j++) {
            this.playground[i].push(null)
          }
        }
        while (arr.length) {
          let rowIndex = parseInt(Math.random() * SIZE.toFixed())
          let colIndex = parseInt(Math.random() * SIZE.toFixed())
          if (this.playground[rowIndex][colIndex] === null) {
            this.playground[rowIndex][colIndex] = {w: arr.pop(), s: POTNOUSE, row: rowIndex, col: colIndex};
          }
        }
      },
      initProcess: function () {
        this.rst = [];
        this.cur = [];
        this.playground = []
        this.cnt = 0;
        this.mapping = {};
        //
        let wordList = []
        let singleWordList = []
        while (singleWordList.length < SIZE * SIZE) {
          let index = parseInt(Math.random() * wds.length.toFixed())
          let wd = wds[index];
          if (wordList.indexOf(wd) > -1) {
            continue;
          }
          wordList.push(wd);
          this.mapping[wd] = 0;
          singleWordList.push(wd[0])
          singleWordList.push(wd[1])
          singleWordList.push(wd[2])
          singleWordList.push(wd[3])
        }
        this.wordList = wordList;
        this.shuffle(singleWordList)
      },
      init(reinit) {
        this.initProcess();
        this.show();
      },
      range(start, stop, gap) {
        if (gap === 0) {
          return [start]
        }
        let rst = [];
        for (let i = start; gap > 0 ? i < stop : i > stop; i += gap) {
          rst.push(i);
        }
        return rst;
      },
      back() {
        this.clickIndex = null;
        if (this.cur.length>0) {
          let o = this.cur.pop()
          o.s = POTNOUSE
        }
      },
      clear() {
        this.clickIndex = null;
        if (this.cur.length>0) {
          for (let i = 0; i < this.cur.length; i++) {
            let o = this.cur[i];
            o.s = POTNOUSE;
          }
        }
        this.cur = [];
      },
      clickOne(row, col) {
        this.gameStatus = PLAYING;
        row = parseInt(row)
        col = parseInt(col)
        this.startTimer();
        let o = this.playground[row][col];
        if (o.s !== POTNOUSE) {
          return false;
        }
        this.cnt++;
        this.clickIndex = o.w;
        if (this.strictMode) {
          if (this.cur.length < 4) {
            this.cur.push(o);
            o.s = POTUSED;
          }
          if (this.cur.length === 4) {
            let cur = this.join2(this.cur);
            if (this.mapping[cur] === 0) {
              this.rst.push(this.cur);
              this.mapping[cur] = 1;
              this.cur = [];
            }
          }
        } else {
          if (this.cur.length === 0) {
            for (let i = 0; i < this.wordList.length; i++) {
              if (o.w === this.wordList[i][0]) {
                this.cur.push(o);
                o.s = POTUSED;
                break;
              }
            }
          } else if (this.cur.length === 1) {
            for (let i = 0; i < this.wordList.length; i++) {
              if (this.cur[0].w === this.wordList[i][0] && o.w === this.wordList[i][1]) {
                this.cur.push(o);
                o.s = POTUSED;
                break;
              }
            }
          } else if (this.cur.length === 2) {
            for (let i = 0; i < this.wordList.length; i++) {
              if (this.cur[0].w === this.wordList[i][0] && this.cur[1].w === this.wordList[i][1] && o.w === this.wordList[i][2]) {
                this.cur.push(o);
                o.s = POTUSED;
                break;
              }
            }
          } else if (this.cur.length === 3) {
            for (let i = 0; i < this.wordList.length; i++) {
              if (this.cur[0].w === this.wordList[i][0] && this.cur[1].w === this.wordList[i][1] && this.cur[2].w === this.wordList[i][2] && o.w === this.wordList[i][3]) {
                this.cur.push(o);
                o.s = POTUSED;
                this.rst.push(this.cur);
                this.cur = [];
                this.mapping[this.wordList[i]] = 1;
                break;
              }
            }
          }
        }
        this.show();
      },
      giveup() {
        if (this.gameStatus === PLAYING) {
          let flag = confirm("确定换一局？ 跟现在不是一局哦！")
          if (!flag) {
            return;
          }
        }
        location.reload();
      },
      show() {
        // 检查是否获胜
        if (this.rst.length === SIZE * SIZE / 4) {
          this.gameStatus = END;
          this.stopTimer();
          setTimeout(_ => {
            alert("恭喜获胜！")
          }, 200)
        }
      },
      help() {
        if (this.gameStatus === 1) {
          for (let i = 0; i < this.wordList.length; i++) {
            let wd = this.wordList[i]
            if (this.mapping[wd] === 0) {
              alert(wd[0])
              break;
            }
          }
        }
      }
    },
    created() {
      let s = localStorage.getItem(WCSM)
      if (s !== null) {
        s = parseInt(s)
        if (s === 1) {
          this.strictMode = 1;
        }
      }
      this.init(false);
    }
  });

  MainHandling.mount("#main");
</script>
</html>
