<!DOCTYPE html>
<html lang="zh-CN" manifest='./offline.appcache'>
<head>
    <meta charset="UTF-8">
    <title>还是三合一呀</title>
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="img/scar.png"/>
    <link rel="apple-touch-icon-precomposed" href="/sanhei/img/scar.png"/>
    <link rel="icon" href="img/favicon.ico"/>

    <link rel="stylesheet"
          href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css"/>
    <link rel="stylesheet" href="./index.css"/>


</head>
<body>
<div id="content" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4" ng-app="myApp"
     ng-controller="myCtrl">
    <div>
    </div>

    <div id="head">
        <div style="display: flex; justify-content: space-evenly; align-items: center">

            <div>
                    <span class="pot " ng-class="'cl'+data.now" style="width: 40px; height: 40px">
                        <span class="pot-val">

                        {{data.now}}

                        </span>
                    </span>
            </div>
            <button class="btn button dim button-border button-rounded button-primary"
                    ng-repeat="item in [2]" ng-click="changeDim(item)">
                重新开始
            </button>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel" id="scorePanel">
        <p class="score-panel">
                <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    得分:{{data.score}}
                </span>

            <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    步数:{{data.step}}
                </span>
        </p>
    </div>

    <div id="playground">
        <div id="tbody">
            <div class="line" ng-repeat="row in data.sandbox track by $index">
                <span class="pot" ng-repeat="pot in row track by $index" ng-class="'cl'+pot.val"
                      ng-click="goStep(pot)">
                        <span style=" " class="pot-val">{{pot.val}}</span>
                    </span>
            </div>
        </div>
    </div>

    <!-- temp hub -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel temp-hub" ng-hide="data.tempHub.length < 1">
        <div>
            <div ng-repeat="item in data.tempHub track by $index"
                 class="pot" ng-class="'cl'+item" ng-click="swapTempHub($index)">
            <span class="pot-val">
                {{item}}

                        </span>
            </div>
        </div>
    </div>

    <!-- best score -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel">
        <p class="score-panel">个人最好成绩</p>
        <p class="score-panel">
                <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    得分:{{best.score}}
                </span>

            <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    步数:{{best.step}}
                </span>

            <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    数字:{{best.number}}
                </span>
        </p>
    </div>
    <div style="font-size: x-large; padding: 20px;   background-color: white">
        <div>
            <a href="/color_tube.html">color tube</a>
        </div>
        <div>
            <a href="/fake_handou.html">fake handou</a>
        </div>
        <div>
            <a href="/wencai.html">wencai</a>
        </div>
        <div>
            <a href="/flight.html">flight</a>
        </div>
    </div>
</div>
</body>
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/2.1.4/jquery.min.js"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.0.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
<script src="../javascript/util.js"></script>
<script>
    "use strict";
    const DIM_BASE = 2;
    const EXC = 402
    let ll = function () {
        for (let i in arguments)
            console.log(arguments[i])
        console.log('-----')
    };

    let lsNameArray = {
        map: 'afoighj',
        best: 'bepjhik'
    };

    let config = {
        prob: {              // 各数字的权重
            1: 800,
            2: 200,
            3: 50,
            4: 13,
            5: 3,
            '-1': 81,
            '-2': 9,
            '-3': 3,
            402: 3, // extract  EXC
        },
        defaultDim: 2,      // 默认维度
        gameStatus: {
            'ready': 0,
            'running': 1,
            'end': 2,
            'sys_pause': 3
        },
        upLimit: 9,          // 数字上限
        downLimit: -4,       // 数字下限
        pauseTime: 100,      // 数字落下后暂停时间
        scoreFactor: 2,     // 每多一个增加2倍分数
        scoreFactorLevel: 3,        // 每多一层增加3倍分数
        mapSize: 7,                 // 地图尺寸
        tempHubNum: 3,              // 临时存储区大小
        alertTime: 3,               // 警告提示次数
    };

    // 随机生成棋盘内容
    function generator(probs) {
        let all = 0;
        for (let i in probs) {
            all += probs[i];
        }
        let mod = Math.floor(Math.random() * all);
        for (let i in probs) {
            mod -= probs[i]
            if (mod < 0) {
                console.log(i)
                return parseInt(i);
            }
        }
        return 1;
    }

    // 初始生成地图, 增加了0
    function initGenerator() {
        let probs = deepCopy(config.prob);
        probs[0] = probs[1] * 2;
        probs[EXC] = 0;
        return generator(probs)
    }


    let app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        let forbidLocInfoTime = config.alertTime;
        let gameStatus = config.gameStatus;      // 游戏状态
        let defaultDim = config.defaultDim;
        // 地图初始化
        let map = [];
        // 升级层数, 用于计算分数
        let rangeLevel = 0;
        $scope.settings = {
            soundPlay: true
        };
        $scope.dimBase = DIM_BASE;  // 地图是二维的
        $scope.size = config.mapSize;     // 地图尺寸
        $scope.dim = defaultDim;      // 游戏维度
        $scope.data = {
            cols: [],
            sandbox: [], // 地图在当前坐标下的内容
            now: 0,      // 下一个出现的内容
            score: 0,    // 得分
            step: 0,      // 步数
            tempHub: [],
            locations: [], // 地图左上角坐标, 前两个是固定的
        };
        $scope.best = {
            number: 0,
            score: 0,
            step: 0
        };
        // 加载个人最好成绩
        readScore();

        // 临时存储区初始化
        function initTempHub() {
            $scope.data.tempHub = [];
            for (let i = 0; i < config.tempHubNum; i++) {
                $scope.data.tempHub.push(0);
            }
        }

        /**
         * 临时存储区交换
         * @param index 临时存储区下标
         */
        $scope.swapTempHub = function (index) {
            let t = $scope.data.tempHub[index];
            $scope.data.tempHub[index] = $scope.data.now;
            if (t === 0) {
                // 原来暂存区是空的, 则重新生成一个
                generateNextChess();
            } else {
                $scope.data.now = t;
            }
            saveStatus();
            console.log($scope.data.now)
        };

        // 修改维度
        $scope.changeDim = function (dim) {
            if (gameStatus === config.gameStatus.running) {
                let ret = confirm("将重新开始, 确认?");
                if (!ret) {
                    return;
                }
            }
            $scope.dim = dim;
            init(true);
        };

        $scope.changeSoundState = function () {
            $scope.settings.soundPlay = !$scope.settings.soundPlay;
            saveStatus();
        };

        function initMap(dim, size) {
            function generateMap(level, location) {
                if (level === dim) {
                    let number = initGenerator();
                    updateBest(number);
                    return {
                        val: number,
                        loc: location
                    };
                } else {
                    let tmpMap = [];
                    for (let i = 0; i < size; i++) {
                        let tmpLoc = deepCopy(location);
                        tmpLoc.push(i);
                        tmpMap[i] = generateMap(level + 1, tmpLoc)
                    }
                    return tmpMap;
                }
            }
            // 生成地图
            let newMap = generateMap(0, []);
            // 重置位面
            changePlane(newMap);
            map = newMap;
        }

        // 更新位面/ 更新页面上的数字
        function changePlane(map) {
            let location = $scope.data.locations;
            let tmpMap = map;
            for (let i = 0, len = location.length - DIM_BASE; i < len; i++) {
                tmpMap = tmpMap[location[i]];
            }
            $scope.data.sandbox = tmpMap;
        }

        // 更新位面
        $scope.changePlane = function (index, ifUp) {
            let t = $scope.data.locations[index];
            if (ifUp) {
                t++;
            } else {
                t--;
            }
            $scope.data.locations[index] = (t + config.mapSize * 10) % config.mapSize;
            changePlane(map);
        };

        // 点击响应
        $scope.goStep = function (pot) {
            if (gameStatus === config.gameStatus.end) {
                if (!confirm('重新开始游戏?')) {
                    return;
                } else {
                    init(true);
                }
            }
            ///
            if ($scope.data.now === EXC) {
                if (pot.val === 0) {
                    return;
                }
                $scope.data.now = pot.val;
                pot.val = 0;
            } else {
                gameStatus = config.gameStatus.running;
                if (pot.val !== 0) {
                    return;
                }
                $scope.data.step += 1;
                chessIn(pot.loc);
                updateBest(pot.val);
            }
        };

        // 计算分数, 跟当前合成的元素和合成的个数有关
        function countScore(val, size) {
            let factor = 5 + config.scoreFactor * (size - 3) + config.scoreFactorLevel * rangeLevel;
            if (val === config.downLimit) {
                // 负数合成消失的时候加分, 平时减分
                factor *= -1;
            }
            $scope.data.score += factor * val;
        }

        // 每个棋子的进阶
        function chessNextLevel(target) {
            if (target < 0) {
                target--;
            } else {
                target++;
            }
            if (target > config.upLimit || target < config.downLimit) {
                return 0;
            }
            return target;
        }

        // 数字放下响应
        function chessIn(location) {
            rangeLevel = 0;
            let chessNum = deepCopy($scope.data.now);
            // 生成下一个数字
            generateNextChess();
            setTargetChess(location, chessNum);
            changePlane(map);
            // 数字放下停顿0.1s
            gameStatus = config.gameStatus.sys_pause;
            let everConbined = false;
            while (true) {
                let val = getTargetChess(location);
                let scorePoints = chessInProcess(location, val);
                let len = scorePoints.length;
                if (len < 3) {
                    break;
                }
                everConbined = true;
                for (let i = 0; i < len; i++) {
                    setTargetChess(scorePoints[i], 0);
                }
                // 计算分数
                countScore(val, len);
                // 计算进阶数字
                let next = chessNextLevel(val);
                setTargetChess(location, next);
                rangeLevel++;
                // 更新最好成绩
                updateBest(next);
            }
            changePlane(map);
            setTimeout(function () {
                gameStatus = config.gameStatus.running;
                if (!checkAlive()) {
                    gameStatus = config.gameStatus.end;
                    alert('游戏结束!');
                }
            }, 100)
        }

        function chessInProcess(location, val) {
            // 周围相邻的点, 已经出现过
            let seeds = {};
            let key = locToKey(location);
            seeds[key] = location;
            // 相同的点
            let score = {};
            // 周围相邻的点, 未使用
            let unusedPoints = {};
            unusedPoints[key] = location;
            while (true) {
                for (let name in unusedPoints) {
                    let loc = unusedPoints[name];
                    delete unusedPoints[name];
                    // 指定位置的数字与当前落子位置的数字相同
                    if (getTargetChess(loc) === val) {
                        let locStr = locToKey(loc);
                        score[locStr] = loc;
                        for (let i = 0; i < $scope.dim; i++) {
                            let a = loc[i] - 1, b = loc[i] + 1;
                            // 相邻的位置在范围内
                            if (a >= 0 && a < $scope.size) {
                                let tmpLoc = deepCopy(loc);
                                tmpLoc[i] = a;
                                let keyStr = locToKey(tmpLoc);
                                if (seeds[keyStr] === undefined) {
                                    seeds[keyStr] = tmpLoc;
                                    unusedPoints[keyStr] = tmpLoc;
                                }
                            }
                            if (b >= 0 && b < $scope.size) {
                                let tmpLoc = deepCopy(loc);
                                tmpLoc[i] = b;
                                let keyStr = locToKey(tmpLoc);
                                if (seeds[keyStr] === undefined) {
                                    seeds[keyStr] = tmpLoc;
                                    unusedPoints[keyStr] = tmpLoc;
                                }
                            }
                        }
                    }
                }
                let size = 0;
                for (let item in unusedPoints) {
                    size++;
                }
                if (size < 1) {
                    break;
                }
            }

            let scorePoints = [];
            for (let item in score) {
                scorePoints.push(score[item]);
            }
            return scorePoints;
        }

        // 坐标转换为键值
        function locToKey(loc) {
            return loc.join(',');
        }

        // 检查游戏能否继续
        function checkAlive() {
            // 保存地图信息
            saveStatus();
            let alive = false;

            function traversal(node) {
                if (alive) {
                    return;
                }
                if (node['val'] === undefined) {
                    for (let i = 0, len = node.length; i < len; i++) {
                        traversal(node[i]);
                    }
                } else {
                    if (node['val'] === 0) {
                        alive = true;
                        return;
                    }
                }
            }

            traversal(map);
            return alive;
        }

        // 设置指定位置的数
        function setTargetChess(location, val) {
            let tmpMap = map, len = location.length;
            for (let i = 0; i < len - DIM_BASE; i++) {
                tmpMap = tmpMap[location[i]];
            }
            let x = location[len - 2], y = location[len - 1];
            tmpMap[x][y]['val'] = val;
        }

        // 获得指定位置的数
        function getTargetChess(location) {
            let tempMap = deepCopy(map);
            if (location.length !== $scope.dim) {
                alert('系统bug!建议刷新重试');
            }
            for (let i = 0, len = location.length; i < len; i++) {
                tempMap = tempMap[location[i]]
            }
            return tempMap.val;
        }

        // 生成下一个数
        function generateNextChess() {
            let probs = deepCopy(config.prob);
            $scope.data.now = generator(probs);
        }

        /**
         * 游戏初始化
         * @param restart 是否完全重启, 不从localStorage 中加载数据
         */
        function init(restart) {
            gameStatus = config.gameStatus.ready;
            $scope.data.score = 0;
            $scope.data.step = 0;
            $scope.data.cols = [];
            $scope.data.locations = [];
            for (let i = 0; i < $scope.size; i++) {
                $scope.data.cols.push(String.fromCharCode(65 + i));
                $scope.data.sandbox.push([])
            }
            for (let i = 0; i < $scope.dim; i++) {
                $scope.data.locations.push(0);
            }
            // 暂存区初始化
            initTempHub();
            // 状态初始化
            if (restart || loadStatus() === null) {
                // 重新生成地图
                initMap($scope.dim, $scope.size);
                generateNextChess();
            } else {
                // 从ls 里加载地图, 配置, 分数等
                loadStatus();
                if (map.length != $scope.size) {
                    initMap($scope.dim, $scope.size);
                }
                if ($scope.data.tempHub === undefined) {
                    $scope.data.tempHub = [];
                    // 暂存区初始化
                    initTempHub();
                }
                if ($scope.data.tempHub.length > config.tempHubNum) {
                    let arr = []
                    for (let i = 0; i < config.tempHubNum; i++) {
                        arr.push($scope.data.tempHub[i])
                    }
                    $scope.data.tempHub = arr;
                }
                if ($scope.data.tempHub.length > config.tempHubNum) {
                    let x = config.tempHubNum - $scope.data.tempHub.length;
                    for (let i = 0; i < x; i++) {
                        // 送几个小吊车
                        $scope.data.tempHub.push(EXC);
                    }
                }
            }
            // 更新地图
            changePlane(map);
            // 地图重绘
            // setInterval(potSize, 500);
            // 保存地图状态
            saveStatus();
        }

        // 数字的大小不用css, 用js 获取棋盘大小, 重新设置
        function potSize() {
            let length = $('#playground').width();
            let size = config.mapSize;
            let width = Math.floor(length / size);
            $('.pot').css('width', width + 'px')
                .css('height', width + 'px')
                .css('line-height', width + 'px');
            if (width > 50) {
                width = 50;
                $('.temp-hub .pot').css('width', width + 'px')
                    .css('height', width + 'px')
                    .css('line-height', width + 'px');
            }
        }

        // 保存游戏状态
        function saveStatus() {
            let mapObj = {
                map: map,
                next: $scope.data.now,
                score: $scope.data.score,
                step: $scope.data.step,
                tempHub: $scope.data.tempHub,
                settings: $scope.settings,
                forbidLocInfoTime: forbidLocInfoTime,
                gameStatus: gameStatus,
            };
            let jsonMap = JSON.stringify(mapObj);
            let mapStr = base64Encoder(jsonMap);
            localStorage.setItem(lsNameArray.map, mapStr);
            return localStorage.getItem(lsNameArray.map) === null;
        }

        // 加载游戏状态
        function loadStatus() {
            if (localStorage.getItem(lsNameArray.map) === null) {
                return null;
            }
            let mapStr = localStorage.getItem(lsNameArray.map);
            let jsonMap = base64Decoder(mapStr);
            let obj = JSON.parse(jsonMap);
            map = obj.map;
            $scope.data.now = obj.next;
            $scope.data.score = obj.score;
            $scope.data.step = obj.step;
            $scope.data.tempHub = obj.tempHub;
            $scope.settings = obj.settings;
            if (obj['forbidLocInfoTime'] !== undefined) {
                forbidLocInfoTime = obj.forbidLocInfoTime;
            } else {
                forbidLocInfoTime = 1;
            }
            if (obj['gameStatus'] !== undefined) {
                gameStatus = obj.gameStatus;
            } else {
                gameStatus = config.gameStatus.running;
            }
        }

        // 保存最好成绩
        function updateBest(number) {
            if ($scope.data.step > $scope.best.step) {
                $scope.best.step = $scope.data.step;
            }
            if ($scope.data.score > $scope.best.score) {
                $scope.best.score = $scope.data.score;
            }
            if (number > $scope.best.number) {
                $scope.best.number = number;
            }
            let jsonBest = JSON.stringify($scope.best);
            let strBest = base64Encoder(jsonBest);
            localStorage.setItem(lsNameArray.best, strBest);
            return localStorage.setItem(lsNameArray.best, strBest) === null;
        }

        // 读出最好成绩
        function readScore() {
            if (localStorage.getItem(lsNameArray.best) === null) {
                return;
            }
            let str = localStorage.getItem(lsNameArray.best);
            let jsonBest = base64Decoder(str);
            $scope.best = JSON.parse(jsonBest);
        }


        init(false);

    });
</script>
</html>
